/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/12/2013, 02:44:27 PM
    Author     : JoseCarlos
*/

.lista a:link, .lista a:active, .lista a:hover, .lista a:checked{
    color: black;
}

#cabecera{
    width: 100%;
    height: 50px;
    background-color: rgb(0,3,34);
    border-bottom: 15px rgb(0,255,0) solid;
}

.lista{
    list-style: none;
    display: block;
    padding: 5px;
    
}

.lista{
   
text-decoration: none;
    
}

.lista .first{
    padding-top: 5px;
     border-top: 1px rgb(194,194,194) solid;
}

.lista li{
    border-bottom: 1px rgb(194,194,194) solid;
    margin: 0;
    padding-top: 6px;

}

.lista li img{
    float: left;
}

.lista li p{
    float: left;
    margin-left: 20px;
    top: 6px;
}

.img-l{
    width:25px; height:25px;
    
}

.img-r{
    margin-right: 10px;
    top: 6px;
}