<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.deRumba.deRumba"
	version 	= "1.0.0">

	<name>De Rumba</name>

	<description>
		Con esta aplicacion podras enterarte de la movida Rumbera en tu ciudad, los mejores establecimientos de Rumba, con la informacion necesaria para que siempre estes enterado, de eventos, precios y servicios en un solo lugar.
Ademas puedes hacer una reserva directa con esta aplicacion, en el establecimiento que mas te guste, o si lo prefieres contactarte via telefonica.
Descarga nuestra aplicacion y disfruta de la movida rumbera de tu ciudad.
	</description>

	<author href="http://innovardesign.com/"
		email="josekrlos029@hotmail.com">
		José Carlos Jimenez Montenegro 
	</author>

<preference name="phonegap-version" value="3.1.0" />
	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
                <gap:platform name="ios" />
	</gap:platforms>
        
        <icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
        <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
        <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />

        <!-- retina iPad support: PhoneGap 2.5.0+ only -->
        <icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
        
	<icon src="icono.png" gap:platform="android" gap:role="default" />
	<icon src="icono.png" gap:platform="android"  width="96" height="96" />
	<icon src="icono.png" gap:platform="android" width="72" height="72" />
	<icon src="icono.png" gap:platform="android" width="48" height="48" />
	<icon src="icono.png" gap:platform="android" width="36" height="36" />
        
        <icon src="splash/ios/icon.png" gap:platform="ios" width="57" height="57" />
        <icon src="splash/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
        <icon src="splash/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />

        <!-- retina iPad support: PhoneGap 2.5.0+ only -->
        <icon src="splash/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
        
        
        <!-- SPLASH -->
    <gap:splash src="splash/android/ldpi.9.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="splash/android/mdpi.9.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="splash/android/hdpi.9.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="splash/android/xhdpi.9.png" gap:platform="android" gap:density="xhdpi" />

    <gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="splash/ios/Default_at_2x.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="748" />
    <gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1004" />

    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <gap:splash src="splash/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1496" />
    <gap:splash src="splash/ios/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" />
    
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

</widget>